body {
  background-color: #f0f2f5;
  font-family: sans-serif;
}

h3 {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .login-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.5);
  }
}

form {
  display: flex;
  flex-direction: column;

  input {
    padding: 8px 28px;
  }

  .login-btn {
    padding: 6px 16px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: white;
  }
}
